div, 
div:before, 
div:after { 
  display: block; 
  content: ""; 
  position: absolute; 
  box-sizing: border-box; 
} 
 
body { 
  height: 100vh; 
  width: 100vw; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  background: url(https://i.postimg.cc/RFvH4Fk2/chocolate-183543-1280.jpg); 
  background-size: cover; 
  background-repeat: no-repeat; 
} 
 
div.discontinued { 
  width: 100vmin; 
  height: 100vmin; 
  display: flex; 
  transform: scale(1.2); 
  position: relative; 
  justify-content: center; 
  align-items: center; 
  margin: 0 auto; 
  background: radial-gradient( 
        ellipse at 50% 120%, 
        transparent 2.6vmin, 
        #7a311e 2.6vmin, 
        #7a311e 3vmin, 
        transparent 3vmin 
      ) 
      calc(-5vmin + 34vmin) calc(-10vmin + 38vmin) / 20vmin 10vmin no-repeat, 
    radial-gradient( 
        ellipse at 50% 120%, 
        transparent 2.6vmin, 
        #7a311e 2.6vmin, 
        #7a311e 3vmin, 
        transparent 3vmin 
      ) 
      calc(-5vmin + 54vmin) calc(-10vmin + 38vmin) / 20vmin 10vmin no-repeat, 
    radial-gradient(ellipse, #512014 2vmin, transparent 2vmin) 
      calc(-5vmin + 38vmin) calc(-10vmin + 45vmin) / 12vmin 12vmin no-repeat, 
    radial-gradient(ellipse, #512014 2vmin, transparent 2vmin) 
      calc(-5vmin + 58vmin) calc(-10vmin + 45vmin) / 12vmin 12vmin no-repeat, 
    radial-gradient(ellipse, #d9aa82 2.5vmin, transparent 2.5vmin) 
      calc(-5vmin + 31vmin) calc(-10vmin + 50vmin) / 20vmin 12vmin no-repeat, 
    radial-gradient(ellipse, #d9aa82 2.5vmin, transparent 2.5vmin) 
      calc(-5vmin + 57vmin) calc(-10vmin + 50vmin) / 20vmin 12vmin no-repeat, 
    radial-gradient(ellipse, #f8c2bb 2.5vmin, transparent 2.5vmin) 
      calc(-5vmin + 44vmin) calc(-10vmin + 53vmin) / 20vmin 10vmin no-repeat, 
    radial-gradient(ellipse, #512014 4vmin, transparent 2.5vmin) 
      calc(-5vmin + 44vmin) calc(-10vmin + 46vmin) / 20vmin 20vmin no-repeat, 
    linear-gradient(25deg, #bda293 1vmin, transparent 0.5vmin) 
      calc(-5vmin + 27.5vmin) calc(-10vmin + 41vmin) / 1.5vmin 1vmin no-repeat, 
    linear-gradient(75deg, #bda293 1vmin, transparent 0.5vmin) 
      calc(-5vmin + 32.5vmin) calc(-10vmin + 46vmin) / 1.5vmin 1vmin no-repeat, 
    linear-gradient(25deg, #bda293 1vmin, transparent 0.5vmin) 
      calc(-5vmin + 57.5vmin) calc(-10vmin + 31vmin) / 1.5vmin 1vmin no-repeat, 
    linear-gradient(75deg, #bda293 1vmin, transparent 0.5vmin) 
      calc(-5vmin + 82.5vmin) calc(-10vmin + 46vmin) / 1.5vmin 1vmin no-repeat, 
    linear-gradient(25deg, #bda293 1vmin, transparent 0.5vmin) 
      calc(-5vmin + 74vmin) calc(-10vmin + 41vmin) / 1.5vmin 1vmin no-repeat, 
    linear-gradient(75deg, #bda293 1vmin, transparent 0.5vmin) 
      calc(-5vmin + 82.5vmin) calc(-10vmin + 54vmin) / 1.5vmin 1vmin no-repeat, 
    linear-gradient(25deg, #bda293 1vmin, transparent 0.5vmin) 
      calc(-5vmin + 34vmin) calc(-10vmin + 39vmin) / 1.5vmin 1vmin no-repeat, 
    linear-gradient(75deg, #bda293 1vmin, transparent 0.5vmin) 
      calc(-5vmin + 62.5vmin) calc(-10vmin + 34vmin) / 1.5vmin 1vmin no-repeat, 
    linear-gradient(25deg, #bda293 1vmin, transparent 0.5vmin) 
      calc(-5vmin + 54vmin) calc(-10vmin + 36vmin) / 1.5vmin 1vmin no-repeat, 
    linear-gradient(95deg, #bda293 1vmin, transparent 0.5vmin) 
      calc(-5vmin + 42.5vmin) calc(-10vmin + 34vmin) / 1.5vmin 1vmin no-repeat, 
    linear-gradient(35deg, #bda293 1vmin, transparent 0.5vmin) 
      calc(-5vmin + 37vmin) calc(-10vmin + 35vmin) / 1.5vmin 1vmin no-repeat, 
    linear-gradient(75deg, #bda293 1vmin, transparent 0.5vmin) 
      calc(-5vmin + 40vmin) calc(-10vmin + 40vmin) / 1.5vmin 1vmin no-repeat, 
    linear-gradient(15deg, #bda293 1vmin, transparent 0.5vmin) 
      calc(-5vmin + 47vmin) calc(-10vmin + 35vmin) / 1.5vmin 1vmin no-repeat, 
    linear-gradient(75deg, #bda293 1vmin, transparent 0.5vmin) 
      calc(-5vmin + 50vmin) calc(-10vmin + 32vmin) / 1.5vmin 1vmin no-repeat, 
    linear-gradient(15deg, #bda293 1vmin, transparent 0.5vmin) 
      calc(-5vmin + 67vmin) calc(-10vmin + 35vmin) / 1.5vmin
